<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form *ngIf="!isLoading" (submit)="onSavePost()" [formGroup]="form">
        <mat-form-field>
            <input matInput type="text"  placeholder="Post Title" formControlName="title" >
            <mat-error *ngIf="form.get('title').invalid && form.get('title').touched"> Please enter a post title </mat-error>
        </mat-form-field>
        <div>
            <button type="button" mat-raised-button (click)="imagePicker.click()">Pick Image</button>
            <input type="file"   #imagePicker (change)="onImagePicked($event)">
        </div>
        <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid" >
            <img [src]="imagePreview" alt="Not found">
        </div>
        <mat-form-field>
            <textarea matInput rows="4" placeholder="Post Content" formControlName="content" ></textarea>
            <mat-error *ngIf="form.get('content').invalid && form.get('content').touched"> Please enter a post Content</mat-error>
        </mat-form-field>
        <button  mat-raised-button type="submit">Save Post</button>
    </form>
   
</mat-card>

